<div class="page home-page">
      <!-- Main Navbar-->
      <header class="header">
        <nav class="navbar">
          <!-- Search Box-->
          <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
              <input type="search" placeholder="What are you looking for..." class="form-control">
            </form>
          </div>
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->
              <div class="navbar-header">
                <!-- Navbar Brand --><a href="/" class="navbar-brand">
                  <div class="brand-text brand-big"><span>Admin </span><strong>Dashboard</strong></div>
                  <div class="brand-text brand-small"><strong>AD</strong></div></a>
                <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
              </div>
              <!-- Navbar Menu -->
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Search-->
                <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>
                <!-- Notifications-->
                <li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell-o"></i><span class="badge bg-red">{{projectSubmit.length}}</span></a>
                  <ul aria-labelledby="notifications" class="dropdown-menu">
                   {{#each projectSubmit}}
                        <li>
                          <a rel="nofollow" href="#" class="dropdown-item">
                            <div class="notification">
                              <div class="notification-content">
                                <i class="fa fa-bell-o bg-violet"></i>{{this.projectName}} </div>
                              <div class="notification-time">
                                <small>{{this.createdAt}} minutes ago</small>
                              </div>
                            </div>
                          </a>
                        </li>
                   {{/each}}
                    
                    <li><a rel="nofollow" href="/proposals" class="dropdown-item all-notifications text-center"> <strong>view all notifications                                            </strong></a></li>
                  </ul>
                </li>
                <!-- Messages                        -->
                {{!-- <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope-o"></i><span class="badge bg-orange">10</span></a>
                  <ul aria-labelledby="notifications" class="dropdown-menu">
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                        <div class="msg-profile"> <img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="msg-body">
                          <h3 class="h5">Jason Doe</h3><span>Sent You Message</span>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                        <div class="msg-profile"> <img src="img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="msg-body">
                          <h3 class="h5">Frank Williams</h3><span>Sent You Message</span>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                        <div class="msg-profile"> <img src="img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="msg-body">
                          <h3 class="h5">Ashley Wood</h3><span>Sent You Message</span>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>Read all messages    </strong></a></li>
                  </ul>
                </li> --}}
                <!-- Logout    -->
                <li class="nav-item"><a href="/user-logout" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">{{ user.name }}</h1>
              <p>Admin</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">
            <li class="active"> <a href="/"><i class="icon-home"></i>Home</a></li>
            <li><a href="#dashvariants" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Supervisors </a>
              <ul id="dashvariants" class="collapse list-unstyled">
                <li><a href="#" data-toggle="modal" data-target="#myModal">Add Supervisors</a></li>
                <li><a href="/remove-supervisors">Remove Supervisors</a></li>
                <li><a href="/supervisor-list">Supervisors List</a></li>
              </ul>
            </li>
            <li><a href="#dashvariants2" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Proposals </a>
              <ul id="dashvariants2" class="collapse list-unstyled">
                <li><a href="/proposals">Pending Proposals</a></li>
                
              </ul>
            </li>
            <li><a href="/registered_user"> <i class="icon-grid"></i>Registered Student</a></li>
            <li><a href="#dashvariants3" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Students</a>
              <ul id="dashvariants3" class="collapse list-unstyled">
                <li><a href="/all-student">All Student</a></li>
                 {{!-- <li><a href="/defense-schedule"> Defense Schedule</a></li> --}}
                <li><a href="#" data-toggle="modal" data-target="#myModal2"> Defense Schedule</a></li>
                   
              </ul>
            </li>
            <li> <a href="#" data-toggle="modal" data-target="#myModalSupervisor"> <i class="icon-padnote"></i>Schedule Proposal</a></li>
            <li> <a href="login.html"> <i class="icon-interface-windows"></i>Login Page</a></li>
          </ul><span class="heading">Extras</span>
          <ul class="list-unstyled">
            <li> <a href="#"> <i class="icon-flask"></i>Demo </a></li>
            <li> <a href="#"> <i class="icon-screen"></i>Demo </a></li>
            <li> <a href="#"> <i class="icon-mail"></i>Demo </a></li>
            <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
          </ul>
        </nav>

        <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Supervisors</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <form method="post" action="/invite-supervisor">
      <div class="modal-body">
          <div class="form-group">
            <label class="form-control-label">Email</label>
            <input type="email" name="invite_email" placeholder="Email Address" class="form-control">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      </form>
      
    </div>
  </div>
</div>

<div class="modal fade" id="myModalSupervisor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Schedule Proposal Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form method="post" action="/schedule-form">
        <div class="modal-body">
          <!-- Forms Section-->
          <section class="forms">
            <div class="container-fluid">
              <div class="row">
          
                <!-- My form-->
                <div class="col-lg-12">
                        <div class="form-group">
                          <label for="inlineFormInput" class="sr-only">Start Date</label>
                          <input name="startDate" type="text" id="datepicker" class="mx-sm-3 form-control" placeholder="Start Date">
                          <input type="hidden" name="showNav" value="true">
                        </div>
          
                        <div class="form-group">
                          <label for="inlineFormInputGroup" class="sr-only">End Date</label>
                          <input name="endDate" type="text" id="datepicker2" class="mx-sm-3 form-control" placeholder="End Date">
                        </div>

                        <div class="form-group">
                          <label for="inlineFormInputGroup" class="sr-only">Year</label>
                          <input name="year" type="number" class="mx-sm-3 form-control" placeholder="Year">
                        </div>
          
                        <div class="form-group">
                          <label for="inlineFormInputGroup" class="sr-only">End Date</label>
                          <select class="mx-sm-3 form-control" id="exampleSelect1" name="semester">
                            <option value="None">Semister</option>
                            <option value="Summer">Summer</option>
                            <option value="Spring">Spring</option>
                            <option value="Fall">Fall</option>
                          </select>
                        </div>
                        <br>
                        <div class="form-group">
                          <button type="button" class="mx-sm-3 btn btn-danger" data-dismiss="modal">Cancel</button>
                          <button type="submit" value="Submit" class="btn btn-success">Submit</button>
                        </div>
                
                </div>
              </div>
            </div>
          </section>
        </div>
      </form>

    </div>
  </div>
</div>


{{!-- Defense modal --}}
<section class="forms"> 
            <div class="container-fluid">
              <div class="row">
                <!-- Modal Form-->
                <div class="col-lg-12">
                  <div class="card">
                     
                      <!-- Modal-->
                      <div id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 id="exampleModalLabel" class="modal-title">Defence Schedule</h4>
                              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                            </div>
                            <form method="post" action="/defense-schedule">
                            <div class="modal-body select_tag">
                             
                              {{!-- <form method="post" action="/defense-schedule"> --}}
                               <div class="row">
                               
                                <div class="form-group col-md-6">
                                  <label for="text">Date :</label>
                                  <input id="date" name="startingDate" type="text" placeholder="Date" class="form-control">
                                </div>
                                
                                <div class="form-group col-md-6">
                                  <label for="text">Starting Time :</label>
                                  <input type="time" name="startingTime" placeholder="Starting Time (Ex. 9.00 AM)" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="text">Ending Time :</label>
                                  <input type="time" name="endingTime" placeholder="Ending Time (Ex. 4.00 AM)" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="text">Lunch Hour :</label>
                                  <input type="time" name="lunchTime" placeholder="Lunch Hour (Ex. 12.01 PM)" class="form-control">
                                </div>
                                
                                   <div class="form-group col-md-6">
                                      <div class="select">
                                        <select name="duration" class="form-control">
                                          <option>Duration per project</option>
                                          
                                          <option value=".25">15 min</option>
                                          <option value=".5">30 min</option>
                                          <option value=".75">45 min</option>
                                          <option value="1">60 min</option>
                      
                                        </select>
                                      </div>
                                  </div>
                                   <div class="form-group col-md-6">
                                      <div class="select">
                                        <select name="semester" class="form-control">
                                          <option>Select semister</option>
                                          <option>Spring</option>
                                          <option>Summer</option>
                                          <option>Fall</option>
                                        </select>
                                      </div>
                                  </div>
                                  
                                <div class="form-group col-md-6">
                                      <div class="select">
                                        <select name="courseCode" class="form-control">
                                          <option>Course Code</option>
                                          <option>CSE-4400</option>
                                          <option>CSE-3300</option>
                                       
                                        </select>
                                      </div>
                                  </div>
                                 <div class="form-group col-md-6">
                                      <div class="select">
                                        <select name="year" class="form-control">
                                           <option value="">Select Year</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                            <option value="2026">2026</option>
                                            <option value="2027">2027</option>
                                            <option value="2028">2028</option>
                                            <option value="2029">2029</option>
                                            <option value="2030">2030</option>
                                            <option value="2031">2031</option>
                                            

                                        </select>
                                      </div>
                                  </div>
                                  
                                  </div>
                              
                            </div>
                            <div class="modal-footer">
                              <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                              {{!-- <button type="button" class="btn btn-primary">Start scheduling</button> --}}
                               <button type="submit" value="Submit" class="btn btn-success">Submit</button>
                            </div>
                            </form>

                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


 