<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synergy - Admin Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="/css/fontastic.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- theme stylesheet-->
   
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/styleproposal.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
      {{{ body }}}

      <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/js/charts-home.js"></script>
    <script src="/js/front.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script src="/js/jquery.table2excel.min.js" type="text/javascript"></script>

    <script>
      $(document).ready(function() {
          $('#example').DataTable();
      } );
    </script>
    <script type="text/javascript">
    jQuery(function ($) {
        $("#exportButton").click(function () {
            // parse the HTML table element having an id=exportTable
            var dataSource = shield.DataSource.create({
                data: ".exportTable",
                schema: {
                    type: "table",
                    fields: {
                        Projects: { type: String },
                        Name: { type: String },
                        Id: { type: String },
                        Supervisor: {type: String}
                    }
                }
            });

            // when parsing is done, export the data to PDF
            dataSource.read().then(function (data) {
                var pdf = new shield.exp.PDFDocument({
                    author: "Synergy",
                    created: new Date()
                });

                pdf.addPage("a4", "portrait");

                pdf.table(
                    5,
                    5,
                    data,
                    [
                        { field: "Projects", title: "Project Name", width: 150 },
                        { field: "Name", title: "Members Name", width: 100 },
                        { field: "Id", title: "Members Id", width: 150 },
                        { field: "Supervisor", title: "Supervisor Name", width: 200 }
                        
                    ]
                );

                pdf.saveAs({
                    fileName: "SyngeryExportPDF"
                });
            });
        });
    });
</script>
<script type="text/javascript">
    $("#datepicker").datepicker();
</script>
<script type="text/javascript">
    $("#datepicker2").datepicker();
</script>
<script type="text/javascript">
    function exportexcel() {
        $(".myTable").table2excel({
            name: "Table2Excel",
            filename: "synergy",
            fileext: ".xls"
        });
    }
</script>


<style>
    #exportButton {
        border-radius: 0;
    }
    
</style>
  </body>
</html>    