{{> navbar}}

<div class="content-inner">
          
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              {{#if message}}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Successfully </strong> {{registered.length}} Students ID Uploaded.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

            {{/if}}
              <h2 class="no-margin-bottom">Add Registered User</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Add Registered User</li>
            </ul>
          </div>
          <!-- Forms Section-->
          <section class="forms"> 
            <div class="container-fluid">
              <div class="row">
                
                
               
                <!-- Form Elements -->
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Use the form below to upload a list of students id with course code.</h3>
                    </div>
                    <div class="card-body">
                      <form class="form-horizontal" action="/registered_user" method="POST" encType="multipart/form-data">
                        
                        
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">File Templete</label>
                          <div class="col-sm-9">
                            <button type="submit" class="btn btn-default"><a href="/template">Here </a></button><span class="help-block-none"> an example of csv template.</span>
                          </div>
                        </div>
                       
                        <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Upload</label>
                          <div class="col-sm-9">
                            <input type="file" name="file" accept="*.csv" ><span class="help-block-none"> Only Submit .csv file.</span>
                          </div>
                        </div>
                        <div class="line"></div>

                        <div class="form-group row">
                          <div class="col-sm-4 offset-sm-3">
                            <button type="submit" class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-primary" onclick="callmymethod(24); return false;">Save changes</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Page Footer-->
          {{> footer}}
        </div>