{{> navbar}}

<div class="content-inner">
          
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              {{#if message}}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Successfully </strong> {{ message}} Students ID Uploaded.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

            {{/if}}
              <h2 class="no-margin-bottom">Add Registered User</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Add Registered User</li>
            </ul>
          </div>
          <!-- Forms Section-->
          <section class="forms"> 
            <div class="container-fluid">
              <div class="row">
                
                
               
                <!-- Form Elements -->
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Use the form below to upload a list of students id with course code.</h3>
                    </div>
                    <div class="card-body">
                      <form class="form-horizontal" action="/registered_user" method="POST" encType="multipart/form-data">
                        
                        
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">File Templete</label>
                          <div class="col-sm-9">
                            <button type="submit" class="btn btn-default"><a href="/template">Here </a></button><span class="help-block-none"> an example of csv template.</span>
                          </div>
                        </div>
                       
                        <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Upload</label>
                          <div class="col-sm-9">
                            <input type="file" name="file" accept="*.csv" ><span class="help-block-none"> Only Submit .csv file.</span>
                          </div>
                        </div>
                        <div class="line"></div>
                        <div class="form-group col-sm-3">
                          <label for="exampleFormControlSelect2">Select Semester</label>
                          <select class="form-control" id="exampleFormControlSelect2" name="semester">
                            <option>Spring</option>
                            <option>Fall</option>
                            <option>Summer</option>
                          </select>
                        </div>
                        <div class="form-group col-sm-3">
                          <label for="exampleFormControlSelect2">Select Year</label>
                          <select class="form-control" id="sel1" name="year">
                            <option value="">Select Year</option>
                            <option value="1">2015</option>
                            <option value="2">2016</option>
                            <option value="3">2017</option>
                            <option value="4">2018</option>
                            <option value="5">2019</option>
                            <option value="6">2020</option>
                            <option value="7">2021</option>
                            <option value="8">2022</option>
                            <option value="9">2023</option>
                            <option value="10">2024</option>
                            <option value="11">2025</option>
                            <option value="12">2026</option>
                            <option value="13">2027</option>
                            <option value="14">2028</option>
                            <option value="15">2029</option>
                            <option value="16">2030</option>
                            <option value="17">2031</option>
                            <option value="18">2032</option>
                            <option value="19">2033</option>
                            <option value="20">2034</option>
                            <option value="21">2035</option>
                            <option value="22">2036</option>
                            <option value="23">2037</option>
                            <option value="24">2038</option>
                            <option value="25">2039</option>
                            <option value="26">2040</option>
                            <option value="27">2041</option>
                            <option value="28">2042</option>
                            <option value="29">2043</option>
                            <option value="30">2044</option>
                            <option value="31">2045</option>
                            <option value="32">2046</option>
                            <option value="33">2047</option>
                            <option value="34">2048</option>
                            <option value="35">2049</option>
                            <option value="36">2050</option>
                            <option value="37">2051</option>
                            <option value="38">2052</option>
                            <option value="39">2053</option>
                            <option value="40">2054</option>
                            <option value="41">2055</option>
                            <option value="42">2056</option>
                            <option value="43">2057</option>
                            <option value="44">2058</option>
                            <option value="45">2059</option>
                            <option value="46">2060</option>
                            <option value="47">2061</option>
                            <option value="48">2062</option>
                            <option value="49">2063</option>
                            <option value="50">2064</option>
                            <option value="51">2065</option>
                            <option value="52">2066</option>
                            <option value="53">2067</option>
                            <option value="54">2068</option>
                            <option value="55">2069</option>
                            <option value="56">2070</option>
                            <option value="57">2071</option>
                            <option value="58">2072</option>
                            <option value="59">2073</option>
                            <option value="60">2074</option>
                            <option value="61">2075</option>
                            <option value="62">2076</option>
                            <option value="63">2077</option>
                            <option value="64">2078</option>
                            <option value="65">2079</option>
                            <option value="66">2080</option>
                            <option value="67">2081</option>
                            <option value="68">2082</option>
                            <option value="69">2083</option>
                            <option value="70">2084</option>
                            <option value="71">2085</option>
                            <option value="72">2086</option>
                            <option value="73">2087</option>
                            <option value="74">2088</option>
                            <option value="75">2089</option>
                            <option value="76">2090</option>
                            <option value="77">2091</option>
                            <option value="78">2092</option>
                            <option value="79">2093</option>
                            <option value="80">2094</option>
                            <option value="81">2095</option>
                            <option value="82">2096</option>
                            <option value="83">2097</option>
                            <option value="84">2098</option>
                            <option value="85">2099</option>
                            <option value="86">2100</option>
                            <option value="87">2101</option>
                            <option value="89">2102</option>
                            <option value="90">2103</option>
                            <option value="91">2104</option>
                            <option value="92">2105</option>
                            <option value="93">2106</option>
                            <option value="94">2107</option>
                            <option value="95">2108</option>
                            <option value="96">2109</option>
                            <option value="97">2110</option>
                            <option value="98">2111</option>
                            <option value="99">2112</option>
                            <option value="100">2113</option>
                            <option value="101">2114</option>
                            <option value="102">2115</option>
                            
                            
                            
                            
                            
                          </select>
                        </div>
                        
                        <div class="line"></div>
                        <div class="form-group row">
                          <div class="col-sm-4 offset-sm-3">
                            <button type="submit" class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-primary" onclick="callmymethod(24); return false;">Save changes</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Page Footer-->
          {{> footer}}
        </div>